mosh-extension/licenses/** whitespace=-trailing-space,-blank-at-eof
mosh-extension/patches/** whitespace=-trailing-space,-blank-at-eof
mosh-extension/src/main/cpp/generated/** whitespace=-trailing-space,-blank-at-eof
